.alert {
    margin: 0 30px;
    padding: 38px 37px;
    font-size: 30px;

    position: fixed;
    z-index: 9;

    box-shadow: 25px 25px;

    background-color: var(--alert);
    border-radius: 15px;
}

.alert__title {
    padding: 10px 0;
    text-align: center;
}

.alert__text {
    color: var(--textPrimary);
    text-align: center;
    margin: 20px 0;
}

.alert__ok {
    background-color: var(--);
}

.alert__buttons{
    display: flex;
    gap: 30px;
}

.homeAlert {
    top: 25vh;
}