@import url(diceResult.css);
@import url(diceAtributes.css);
@import url(diceHistoric/diceHistoric.css);

main {
    display: flex;
    flex-direction: column;
}

input {
    border: none;
}